
.loginh{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    color: black;
    line-height: 5px;
}

.loginp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.head{
    margin-top: 130px;
}

.checklogin{
    margin-top: 10px;
    display: flex;
    font-family: 'Poppins';
    font-size: 15px;
}

.checklogin>a{
    margin-left: 180px;
    text-decoration-line: underline;
    color: #003687;
}

.bttn{
    margin-top: 100px;
}